.textfield{
  width: 150px;
}
h1{
  font-size: 1.4em;
}
#btn-right{
  float: right;
}
#solde-section, #solde, h1{
  text-align: center;
}
.red{
  color: red;
}
.green{
  color:green;
}
.inputIncorrect{
  border: 1px solid red;
}